.homePageContainer {
    width: 100%;
}

.mainSection {
    color: #fff;
}

.headerText {
    width: 70%;
    height: 415px;
    margin: 0 auto;
    margin-top: 20%;
    padding-left: 15px;
    text-align: center;
    font-size: 1.5rem;    
}

.headerText h1 {
    margin-bottom: 4px;
}
.headerText h3 {
    margin-top: 4px;
}
.mainImg {
    height: 89vh;
    width: 100%;
    background-image: url('../Components/assets/pexels-andrea-piacquadio-3932232.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imgCover {
    background-color: rgba(0,0,0,0.5);
    height: 89vh;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.bookNow {
    width: 10%;
    height: 50px;
    background-color: #c70039;
    position: fixed;
    border-bottom-left-radius: 20px;
    top: 60px;
    right: 0;
    z-index: 200;
}

img {
    width: 60px;
    height: 45px;
}

.chatIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;
}

/***   Home Page Details  ***/
.detailsPart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.detailsContainer {
    width: 300px;
    height: 500px;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid rgba(177, 177, 218, 0.842);
    margin: 15px ;
    cursor: pointer;
    z-index: 100;   
    position: relative;
    top: -80px;
}

/* .detailsContainer:nth-child(2), .detailsContainer:nth-child(3) {
    position: relative;
    top: -50px;
} */

.detailsContainer:hover {
    background-color: rgba(7, 7, 107, 0.2);
    color: #fff;
}

.detailsContainer h4 {
    margin-top: 0;
    padding-top: 3%;
    color: #fff;
    letter-spacing: 2.5px;
    cursor: pointer;
}
.detailsContainer div {
    background-color: rgb(74, 74, 199);
    height: 50px;   
}

.detailsContainer p {
    text-align: justify;
    padding: 3px 20px;
    margin-top: 0;
    margin-bottom: 3%;
    min-height: 120px;
}

.detailsImage {
    position: relative;
    top: -20px;
    border: 3px solid rgb(74, 74, 199, 0.9);
    border-radius: 5%;
    width: 90%;
    height: 50%;
    z-index: 200;
}

.homeReadmore {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(12, 12, 104, 0.9);
    color: #fefefe;
    border-radius: 20px;
    letter-spacing: 1.5px;

}

.homeReadmore:hover {
    background-color: rgb(74, 74, 199, 0.9);
}

/***  Responsive for small screen  ***/
@media only screen and (max-width: 767px) {
    .mainImg {
        background-size: contain;
        height: 40vh;
    }
    .imgCover {
        height: 40vh;
    }
    .bookNow {
        width: 20%;
    }
    .headerText {
        width: 94%;
        height: 240px;
        padding: 0;
        font-size: 100%;
        
    }
    .headerText p {
        margin: 5px;
    }

    .detailsContainer {
        width: 400px;
        top: -70px;
    }
}

/* @media only screen and (min-width: 768px) {
    .homePageContainer {
        margin-top: 60px;
    }
} */