/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background: rgb(26,23,76);
background: linear-gradient(180deg, rgba(26,23,76,1) 0%, rgb(65, 65, 168) 20%, rgb(215, 216, 230) 100%);
}